header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
  z-index: 100;
  /* background-color: var(--c-mainbrandcolor); */
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.name-wrap {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu > * {
  padding-right: 25px;
}

.logo {
  width: 50px;
  padding-left: 25px;
}

header h1 {
  font-family: "Tenor Sans", sans-serif;

  background: linear-gradient(
    var(--brandcolor-blue),
    var(--brandcolor-green)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 30px;

  letter-spacing: 10px;
}

div.text {
  background: linear-gradient(-45deg, var(--brandcolor-blue),
  var(--brandcolor-green));
  font-family: "Tenor Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  
  background-size: 300%;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 10s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0px 50%;
  }
}

@media (max-width: 600px) {
  header h1 {
    display: none;
  }
}
