.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.royalty-wrapper {
  width: 40%;
}

.royalty-wrapper h1 {
  color: var(--brandcolor-green);
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  /* border-radius: 10px;
  border: 2px solid #f6f7eb; */
}
