.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.calculator .card {
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 #f6f7eb;
  width: 65%;
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.calculator {
  padding: 150px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-mainbrandcolor);
}
