.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.calculator .card {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  height: 50vh;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
}
