.Char {
  background-color: var(--c-mainbrandcolor);
  padding-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: var(--c-mainbrandcolor);
  padding-bottom: 50px;
}

.rewards {
  padding-top: 50px;
}

.text-wrapper {
  width: 40%;
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* border-radius: 10px;
  border: 2px solid #f6f7eb; */
  /* box-shadow: 0 4px 8px 0 #f6f7eb; */
}

.dot {
  height: 25px;
  width: 25px;
  background-color: var(--brandcolor-blue);
  border-radius: 50%;
  display: inline-block;
}

.Char .bigger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Char img {
  width: 30%;
}

@media (max-width: 1200px) {
  .container {
    padding: 0;
  }
  .wrapper {
    flex-direction: column;
  }
}
