.collection-container {
  padding: 150px 20px;
  background: linear-gradient(
    0deg,
    var(--c-mainbrandcolor),
    var(--brandcolor-blue)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nft-container {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.collection-wrapper {
  display: flex;
  width: 1050px;
  align-items: stretch;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  height: 350px;
}

.collection-container h1 {
  font-size: 30px;
  color: var(--brandcolor-green);
}

.collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 20px; */
  flex-wrap: wrap;
  width: 1050px;
}

.collection-item {
  background: linear-gradient(135deg,
    var(--c-mainbrandcolor),
    var(--brandcolor-blue));
  flex: 1;
  
}

.collection-item h2{
  display: flex;
  justify-content: center;
}

.buyNFT {
  height: 80px;
  border-radius: 10px;
  margin: 20px;
  padding: 0px 40px;
  border: 2px solid var(--brandcolor-green);
  background-color: rgba(0, 0, 0, 0);
  color: var(--brandcolor-green);
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}



.collectionTitle {
  border-bottom: 1px solid var(--brandcolor-blue);
  margin: 0% 20%;
}

.descriptionWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  
}

.wider {
  width: 700px;
  /* transition: 1s; */
}

.description{
  flex:1;
  cursor:alias;
}

.description p{
  padding: 20px;
}

.buttonWrapper{
  display: flex;
}

@media (max-width: 1000px) {
  .buy-container {
    flex-direction: column;
  }
  .buy {
    width: 80%;
    height: 100px;
  }
  .quantity-wrapper {
    width: 100%;
  }
  .collection {
    flex-direction: column;
  }

  .collection-item {
    margin: 20px 0;
  }
}
