.enter-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -45deg,
    var(--brandcolor-blue),
    var(--c-mainbrandcolor)
  );
}
