header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
  z-index: 100;
  /* background-color: var(--c-mainbrandcolor); */
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.name-wrap {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu > * {
  padding-right: 25px;
}

.logo {
  width: 50px;
  padding-left: 25px;
}

header h1 {
  font-family: "Tenor Sans", sans-serif;

  background: -webkit-linear-gradient(
    var(--brandcolor-blue),
    var(--brandcolor-green)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 30px;

  letter-spacing: 10px;

  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.4); */
}

@media (max-width: 600px) {
  header h1 {
    display: none;
  }
}
