header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
  z-index: 100;
  /* background-color: var(--c-mainbrandcolor); */
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.name-wrap {
  display: flex;
  align-items: center;
}

.name-wrap h1 {
  padding-left: 10px;
}

.menu {
  display: flex;
}

.menu > * {
  padding-right: 25px;
}

.logo {
  width: 50px;
  padding-left: 25px;
}

header h1 {
  /* font-family: "Bungee Shade", cursive; */
  /* font-family: "Fascinate Inline", cursive; */
  /* font-family: "Iceberg", cursive; */
  /* font-family: "Libre Barcode 39 Text", cursive; */
  /* font-family: "MuseoModerno", cursive; */
  /* font-family: "Salsa", cursive; */
  /* font-family: "Stalinist One", cursive; */
  /* font-family: "Timmana", sans-serif; */
  /* font-family: "Tourney", cursive; */
  /* font-family: "Train One", cursive; */
  /* font-family: "Wendy One", sans-serif; */

  /* font-family: "Finger Paint", cursive; */
  /* font-family: "Libre Barcode 39 Extended Text", cursive; */
  /* font-family: "Montserrat Subrayada", sans-serif; */
  /* font-family: "Cherry Cream Soda", cursive; */
  /* font-family: "Cabin Sketch", cursive; */
  font-family: "Tenor Sans", sans-serif;
  /* font-family: "Rampart One", cursive; */

  background: -webkit-linear-gradient(
    var(--brandcolor-blue),
    var(--brandcolor-green)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* color: var(--brandcolor-blue); */
  font-size: 30px;

  letter-spacing: 10px;
}
