.hero-container {
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -45deg,
    var(--brandcolor-blue),
    var(--c-mainbrandcolor)
  );
  padding: 150px 20px;
}

.hero-text {
  text-align: center;
  color: white;
  width: 30%;
  padding: 40px;
}

.hero-image {
  width: 50%;
}
