.hero-container {
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -45deg,
    var(--brandcolor-blue),
    var(--c-mainbrandcolor)
  );
  padding: 150px 20px;
}

.hero-text {
  text-align: center;
  color: white;
  width: 30%;
  padding: 40px;
}

.hero-text h2 {
  color: var(--brandcolor-green);
}

.hero-image {
  width: 50%;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.herobutton {
  height: 70px;
  border: #f6f7eb;
  border-radius: 10px;
  border: 2px solid #f6f7eb;
  /* background-color: rgba(0, 0, 0, 0); */
  color: #f6f7eb;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  width: 130px;

  background: linear-gradient(
    -45deg,
    var(--brandcolor-blue),
    var(--brandcolor-green)
  );
  /* background-size: 400% 400%; */
}

@media (max-width: 1200px) {
  .hero-container {
    flex-direction: column;
    height: auto;
    padding: 100px 0px;
  }
  .hero-text {
    width: 70%;
    padding: 40px;
  }
  .hero-image {
    width: 80%;
  }

  .herobutton {
    width: 40%;
    height: 50px;
  }

  .button-wrapper {
    justify-content: space-between;
    padding: 50px 0px;
  }
}

@media (max-width: 400px) {
  .hero-container {
    padding: 50px 0px;
  }

  .herobutton {
    font-size: 10px;
  }
}
